In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import os
import glob
folders_1 = os.listdir('data/금융사기용의자의 연령대별 지역데이터')
folders_2 = os.listdir('data/금융사기피해자의 연령대별 지역데이터')

def make_csv(folders,folderpath):
    with open(folderpath[:-1]+'.csv', 'w',encoding='UTF-8') as outfile:
        for filename in folders:
            with open(folderpath+filename, encoding='UTF-8') as file:        
                outfile.write(file.read())


make_csv(folders_1,"data/금융사기용의자의 연령대별 지역데이터/")
df_suspect_origin = pd.read_csv('./data/금융사기용의자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
make_csv(folders_2,'data/금융사기피해자의 연령대별 지역데이터/')
df_victim_origin = pd.read_csv('./data/금융사기피해자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)

In [2]:
df_suspect_origin = pd.read_csv('./data/금융사기용의자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
df_victim_origin = pd.read_csv('./data/금융사기피해자의 연령대별 지역데이터.csv',names=['고유번호', '생년구간', '광역시도명', '법정시군구명', '등록일시'],index_col=0)
## 지역별 시구군
seoul = '종로구 중구 용산구 성동구 광진구 동대문구 중랑구 성북구 강북구 도봉구 노원구 은평구 서대문구 마포구 양천구 강서구 구로구 금천구 영등포구 동작구 관악구 서초구 강남구 송파구 강동구'.split(' ')
busan = '중구 서구 동구 영도구 부산진구 동래구 남구 북구 강서구 해운대구 사하구 금정구 연제구 수영구 사상구 기장군'.split(' ')
daegu = '중구 동구 서구 남구 북구 수성구 달서구 달성군'.split(' ')
incheon = '중구 동구 미추홀구 연수구 남동구 부평구 계양구 서구 강화군 옹진군'.split(' ')
gwangju = '동구 서구 남구 북구 광산구'.split(' ')
daejun = '동구 중구 서구 유성구 대덕구'.split(' ')
ulsan = '중구 남구 동구 북구 울주군'.split(' ')
gg = '남양주시 수원시 성남시 의정부시 안양시 부천시 광명시 동두천시 평택시 안산시 고양시 과천시 구리시 오산시 시흥시 군포시 의왕시 하남시 용인시 파주시 이천시 안성시 김포시 화성시 광주시 양주시 포천시 여주시 연천군 가평군 양평군'.split(' ')
gangwon = '춘천시 원주시 강릉시 동해시 태백시 속초시 삼척시 홍천군 횡성군 영월군 평창군 정선군 철원군 화천군 양구군 인제군 고성군 양양군'.split(' ')
chungbuk='청주시 충주시 제천시 보은군 옥천군 영동군 증평군 진천군 괴산군 음성군 단양군'.split(' ')
chungnam='천안시 공주시 보령시 아산시 서산시 논산시 계룡시 당진시 금산군 부여군 서천군 청양군 홍성군 예산군 태안군'.split(' ')
jeonbuk='전주시 군산시 익산시 정읍시 남원시 김제시 완주군 진안군 무주군 장수군 임실군 순창군 고창군 부안군'.split(' ')
jeonnam='목포시 여수시 순천시 나주시 광양시 담양군 곡성군 구례군 고흥군 보성군 화순군 장흥군 강진군 해남군 영암군 무안군 함평군 영광군 장성군 완도군 진도군 신안군'.split(' ')
geonbuk='포항시 경주시 김천시 안동시 구미시 영주시 영천시 상주시 문경시 경산시 군위군 의성군 청송군 영양군 영덕군 청도군 고령군 성주군 칠곡군 예천군 봉화군 울진군 울릉군'.split(' ')
geonnam ='창원시 진주시 통영시 사천시 김해시 밀양시 거제시 양산시 의령군 함안군 창녕군 고성군 남해군 하동군 산청군 함양군 거창군 합천군'.split(' ')
jeju='제주시 서귀포시'.split(' ')
sejong = '세종시'.split(' ')
all_region = seoul+ busan +daegu +incheon+gwangju+daejun+ulsan+gg+gangwon+chungbuk+chungnam+jeonbuk+jeonnam+geonbuk+geonnam+jeju+sejong
part = gg+gangwon+chungbuk+chungnam+jeonbuk+jeonnam+geonbuk+geonnam+jeju
def delete_detail_region(region):
    region = str(region)
    if len(region) > 4:
        region=region[0:3]
        for i in all_region:
            if i in region:
                return i
            else:
                return region
    else:
        return region

df_suspect_origin['법정시군구명']=df_suspect_origin['법정시군구명'].apply(lambda x: delete_detail_region(x))
df_victim_origin['법정시군구명']=df_victim_origin['법정시군구명'].apply(lambda x: delete_detail_region(x))

a = list(df_victim_origin['생년구간'].unique()) #2090-2100 2070-2080 => 각각 1개 5개 제외
a.remove ('2090-2100')
a.remove('2070-2080')
a= sorted(a)


b = list(df_suspect_origin['생년구간'].unique()) # 2080-2090 => 1개 제외
b.remove('2080-2090')
b = sorted(b)

region_s = [seoul,busan,daegu,incheon,gwangju,daejun,ulsan,gg ,gangwon ,chungbuk,chungnam,jeonbuk,jeonnam,geonbuk,geonnam ,jeju, sejong]
region_b = ['서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도','세종특별자치시']
region = []
DF = []
for b in range(17):
    for s in region_s[b]:
        DF.append ([region_b[b],s])
        for old in a: # a로 들어가야 전부 들어감
            region.append([region_b[b],s,old])

#DF = pd.DataFrame(columns=['광역시도명','법정시군구명'], data=DF)
#suspect_DF = DF
#victim_DF = DF

DF = pd.DataFrame(columns=['광역시도명','법정시군구명'], data=DF)                   

suspect_Old_DF = pd.DataFrame(columns=['광역시도명','법정시군구명','생년구간'], data=region)
victim_Old_DF = pd.DataFrame(columns=['광역시도명','법정시군구명','생년구간'], data=region)
suspect_Old_DF.to_csv("suspect_Old_DF.csv", mode='w')
victim_Old_DF.to_csv("victim_Old_DF.csv", mode='w')


def return_cnt(df,row):
    temp = df[(df['광역시도명']==row['광역시도명'])&(df['법정시군구명']==row['법정시군구명'])&(df['생년구간']==row['생년구간'])]
    return temp['광역시도명'].count()

suspect_Old_DF['발생건수'] = suspect_Old_DF.apply(lambda x: return_cnt(df_suspect_origin,x),axis=1)
victim_Old_DF['발생건수'] = victim_Old_DF.apply(lambda x: return_cnt(df_victim_origin,x),axis=1)
suspect_Old_DF.to_csv("suspect_Old_DF.csv", mode='w')
victim_Old_DF.to_csv("victim_Old_DF.csv", mode='w')

In [3]:
suspect_Old_DF=suspect_Old_DF[suspect_Old_DF['법정시군구명']!='세종시']
victim_Old_DF=victim_Old_DF[victim_Old_DF['법정시군구명']!='세종시']

In [4]:
suspect_Old_DF

        광역시도명 법정시군구명       생년구간  발생건수
0       서울특별시    종로구  1900-1910     0
1       서울특별시    종로구  1910-1920     0
2       서울특별시    종로구  1920-1930     0
3       서울특별시    종로구  1930-1940     0
4       서울특별시    종로구  1940-1950     1
...       ...    ...        ...   ...
2731  제주특별자치도   서귀포시  1970-1980     6
2732  제주특별자치도   서귀포시  1980-1990     7
2733  제주특별자치도   서귀포시  1990-2000    26
2734  제주특별자치도   서귀포시  2000-2010    29
2735  제주특별자치도   서귀포시  2010-2020    12

[2736 rows x 4 columns]

In [5]:
victim_Old_DF

        광역시도명 법정시군구명       생년구간  발생건수
0       서울특별시    종로구  1900-1910     0
1       서울특별시    종로구  1910-1920     0
2       서울특별시    종로구  1920-1930     0
3       서울특별시    종로구  1930-1940     0
4       서울특별시    종로구  1940-1950     1
...       ...    ...        ...   ...
2731  제주특별자치도   서귀포시  1970-1980    40
2732  제주특별자치도   서귀포시  1980-1990   103
2733  제주특별자치도   서귀포시  1990-2000   157
2734  제주특별자치도   서귀포시  2000-2010   205
2735  제주특별자치도   서귀포시  2010-2020   102

[2736 rows x 4 columns]

In [6]:
from scipy import stats

In [12]:
suspect_Old_DF['발생건수'].sum()

34344

In [13]:
victim_Old_DF['발생건수'].sum()

255991

In [ ]:
# 전제조건
## 1 정규성 검정
## 2 등분산성 검정

# Paired t test
# 두집단간 평균의 차이 검증
## 귀무가설: 두 집단간 차이가 없다.
## 결론 pvalue 가 1 귀무가설 채택

In [7]:
stat, p_val = stats.ttest_rel(suspect_Old_DF['발생건수'], victim_Old_DF['발생건수'], alternative='greater')

In [8]:
print('statistic:', stat, '   p-value:', p_val)

statistic: -14.815370754485038    p-value: 1.0